:root {
	--background-lighter: #ffffff;
	--background-light: #edf7ed;
	--background-dark: #1a7f8f;
	--background-darker: #1c1c1c;

	--text-high: #1c1c1c;
	--text-medium: #4a4a4a;
	--text-low: #999999;
	--text-on-background: #ffffff;

	--home-block-space: 128px;
	--button-corner: 4px;

	--space-0: 0px;
	--space-025: 1px;
	--space-05: 2px;
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 20px;
	--space-6: 24px;
	--space-8: 32px;
	--space-10: 40px;
	--space-12: 48px;
	--space-16: 64px;
	--space-20: 80px;
	--space-24: 96px;
	--space-32: 128px;

	--text-high: #1c1c1c;
	--bg-light-blue: #e7f2fe;
	--bg-bright-blue: #cde5fc;
	--box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);

	@media (max-width: 768px) {
		--home-block-space: 64px;
	}
}
