---
import { getCollection } from 'astro:content'
import SiteLayout from '../layouts/BaseLayout.astro'
import Heading from '../components/work/Heading.astro'

const content = await getCollection('home')
---

<SiteLayout>
	<main>
		<Heading />
	</main>
</SiteLayout>
