<div class="wrapper">
  <h2>What is CDL</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis beatae
    ipsa corrupti voluptatibus sunt odio quos? Dolor eos aspernatur hic
    recusandae ipsa earum aliquid quas vitae dolorem atque, tenetur reiciendis.
  </p>
  <a href="/about">Meet our multidisciplinary team</a>
</div>

<style>
  .wrapper {
    margin-bottom: 32px;
  }
</style>
