---
interface Props {
	data: {
		title: string
		description: string[]
		link: {
			title: string
			url: string
		}
	}
}

const { data } = Astro.props
---

<div class="wrapper">
	<h2>{data.title}</h2>
	<div class="text">
		{data.description.map((paragraph) => <p>{paragraph}</p>)}
	</div>
	<a class="cta" href={data.link.url}>{data.link.title}</a>
</div>

<style lang="scss">
	.wrapper {
		margin-bottom: var(--home-block-space);
		text-align: center;
	}

	h2 {
		font-weight: 800;
		font-size: 2rem;
		text-transform: uppercase;
		color: var(--text-on-background);
		background: url('/dialog.png') no-repeat;
		background-size: contain;
		background-position: center;
		padding-top: 42px;
		height: 168px;
	}

	.text {
		margin-top: 32px;
		font-weight: 400;
		line-height: 160%;
		font-size: 1.125rem;
		max-width: 835px;
		margin-inline: auto;

		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.cta {
		display: inline-block;
		margin-top: var(--space-10);
		text-decoration: none;
		padding: var(--space-3) var(--space-5);

		border-radius: var(--button-corner);
		background: var(--pink-light);
		box-shadow: var(--box-shadow);

		font-weight: 600;
		font-size: 1.5rem;
		color: var(--text-high);
	}
</style>
