---
interface Props {
  data: {
    title: string
    description: string
    link: {
      title: string
      url: string
    }
  }
}

const { data } = Astro.props
---

<div class="wrapper">
  <h2>{data.title}</h2>
  <div class="text">
    <p>
      {data.description}
    </p>
  </div>
  <a class="cta" href={data.link.url}>{data.link.title}</a>
</div>

<style lang="scss">
  .wrapper {
    margin-bottom: var(--home-block-space);
    text-align: center;
  }

  h2 {
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgba(0, 83, 96, 1);
  }

  .text {
    margin-top: 32px;
    font-weight: 500;
    line-height: 160%;
    font-size: 1.5rem;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  .cta {
    margin-top: 80px;
    display: inline-block;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: transparent;
    padding: 8px 16px;
    color: rgba(0, 83, 96, 1);

    border-radius: 50px;
    border: 4px solid #005360;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }
</style>
