<div class="wrapper">
  <h2>What is CDL?</h2>
  <div class="text">
    <p>
      Lorem ipsum dolor sit amet consectetur. Venenatis massa vulputate rhoncus
      sed amet. Risus ut congue pretium nisi imperdiet. Semper vestibulum at
      nisl commodo placerat consectetur aliquam natoque ut. Purus sollicitudin
      eu porttitor vestibulum vitae suscipit.
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur. Venenatis massa vulputate rhoncus sed
      amet. Risus ut congue pretium nisi imperdietisl commodo placerat consectetur
      aliquam natoque ut. Purus sollicitudin eu porttitor vestibulum vitae suscipit.
    </p>
  </div>
  <a class="cta" href="/about">Meet our multidisciplinary team</a>
</div>

<style>
  .wrapper {
    margin-bottom: 128px;
    text-align: center;
  }

  h2 {
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgba(0, 83, 96, 1);
  }

  .text {
    margin-top: 32px;
    font-weight: 500;
    line-height: 160%;
    font-size: 1.5rem;
  }

  .cta {
    margin-top: 80px;
    display: inline-block;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: transparent;
    padding: 8px 16px;
    color: rgba(0, 83, 96, 1);

    border-radius: 50px;
    border: 4px solid #005360;
  }
</style>
