---
interface Props {
  data: {
    title: string
    number: string
    description: string
  }
}

const { data } = Astro.props
---

<div class="container">
  <div class="wrapper">
    <div class="left">
      <h2>{data.title}</h2>
      <div class="bg">
        <div class="data">
          <span class="number">{data.number}</span>
          <span class="title">{data.description}</span>
        </div>
      </div>
    </div>
    <div class="map">
      <img src="/india.png" alt="india" width={559} height={634} />
    </div>
  </div>
</div>

<style lang="scss">
  .container {
    background-color: rgba(237, 247, 237, 1);
    padding-top: 105px;
    padding-bottom: 132px;
    margin-bottom: 68px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .bg {
    background-image: url('/border.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 417px;
    min-height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      line-height: normal;
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transform: translate(12px, -12px);
  }

  .number {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
  }

  .title {
    font-size: 2rem;
    max-width: 274px;
  }

  .map {
    @media (max-width: 768px) {
      display: none;
    }
  }
</style>
