<div class="container">
  <div class="wrapper">
    <h2>Data at CDL</h2>
    <div class="data">
      <span class="number">36,860</span>
      <span class="title">Public Contracts Opened</span>
    </div>
  </div>
</div>

<style lang="scss">
  .container {
    background-color: #a8daa8;
    padding-block: 24px;
    margin-bottom: 32px;
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .number {
    font-size: 2.5em;
    font-weight: bold;
    color: #e22f54;
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
</style>
