---
import Icon from '@/components/icon.astro'
---

<div class="container">
  <div class="wrapper">
    <div>
      <h2>Data at CDL</h2>
      <div class="data">
        <span class="number">36,860</span>
        <span class="title">public contracts opened</span>
      </div>
    </div>
    <div>
      <img src="/india.png" alt="india" width={559} height={634} />
    </div>
  </div>
</div>

<style lang="scss">
  .container {
    background-color: rgba(237, 247, 237, 1);
    padding-top: 105px;
    padding-bottom: 132px;
    margin-bottom: 68px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 28px;
    padding: 12px;

    background-image: url('/border.svg');
  }

  .number {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
  }

  .title {
    font-size: 2rem;
    max-width: 274px;
  }
</style>
