<div class="heading"></div>

<style lang="scss">
  .heading {
    background-color: rgba(231, 244, 255, 1);
    height: 580px;
    width: 100%;
    margin-bottom: var(--home-block-space);
  }
</style>
