---
import Icon from '@/components/icon.astro'

interface Props {
	data: {
		title: string
		description: string
		links: {
			title: string
			url: string
		}[]
	}
}

const { data } = Astro.props
---

<div class="wrapper">
	<div class="text">
		<h1>working to <span class="strong">strengthen</span> CIVIC ENGAGEMENT</h1>
		<p class="desc">
			We make data <i>accessible, relevant, productive, effective & impactful</i
			> using
		</p>
	</div>
	<div class="link-wrapper">
		<div class="links">
			{
				data.links.map((link) => (
					<a href={link.url}>
						<span>{link.title}</span>
					</a>
				))
			}
			<a class="more" href="#">Learn More</a>
		</div>
	</div>
</div>

<style lang="scss">
	.wrapper {
		margin-bottom: var(--home-block-space);
	}

	.text {
		text-align: center;
	}

	h1 {
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 160%;
		text-transform: uppercase;
	}

	.strong {
		font-weight: 800;
	}

	.desc {
		font-size: 1.25rem;
		font-weight: 300;
		line-height: 132.9%;
		margin-top: var(--space-8);

		i {
			font-weight: 400;
		}
	}

	.link-wrapper {
		margin-top: var(--space-6);
		max-width: 900px;
		margin-inline: auto;
	}

	.links {
		display: flex;
		gap: var(--space-8);
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		a:not(.more) {
			text-decoration: none;
			padding: var(--space-3) var(--space-5);

			border-radius: var(--button-corner);
			border: 4px solid var(--bg-light-blue);
			background: var(--bg-bright-blue);
			box-shadow: var(--box-shadow);

			font-weight: 600;
			font-size: 1.5rem;
			color: var(--text-high);

			min-width: 264px;
			text-align: center;
		}
	}

	.more {
		padding: var(--space-3);
		color: var(--text-high);
		font-size: 0.875rem;
		font-weight: 600;
	}
</style>
