---
---

<footer>
	<div class="wrapper">
		<div class="links">
			<span>ISO Number</span>
			<span>MSME Code</span>
			<span>NIC</span>
		</div>
	</div>
</footer>
<style lang="scss">
	footer {
		background-color: rgba(26, 127, 143, 1);
		padding-block: 112px;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 20px;
		span {
			font-weight: 500;
			font-size: 1.5rem;
			color: rgba(255, 255, 255, 1);
		}
	}
</style>
