---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="wrapper">
	<h1>
		{SITE_TITLE}
	</h1>
	<nav class="desktop">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Work</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/resources">Resources</HeaderLink>
		<HeaderLink href="/events">Events</HeaderLink>
		<HeaderLink href="/collaborate">Collaborate</HeaderLink>
	</nav>
	<nav class="mobile">
		<button class="btn">Menu</button>
		<div class="links">
			<a href="/">Home</a>
			<a href="/blog">Work</a>
			<a href="/about">About</a>
			<a href="/resources">Resources</a>
			<a href="/events">Events</a>
			<a href="/collaborate">Collaborate</a>
		</div>
	</nav>
</header>

<script>
	function toggleMobileNav() {
		const mobileNav = document.querySelector('.links')
		mobileNav?.classList.toggle('active')

		const btn = document.querySelector('.btn')
		btn?.classList.toggle('btn--open')
	}

	const btn = document.querySelector('.btn')
	btn?.addEventListener('click', toggleMobileNav)
</script>

<style lang="scss">
	h1 {
		font-size: 2rem;
		font-weight: 700;
		margin: 0;

		@media (max-width: 768px) {
			font-size: 1.5rem;
			margin-top: 7px;
		}
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		z-index: 100;
		position: relative;

		padding: 32px 0;

		@media (max-width: 768px) {
			align-items: flex-start;
			padding: 16px 0;
		}
	}

	nav {
		display: flex;
		align-items: center;
		gap: 32px;
		flex-wrap: wrap;
		padding: 8px;

		&.desktop {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	.mobile {
		display: none;
		flex-direction: column;
		align-items: flex-end;
		gap: 8px;

		.btn {
			background-color: transparent;
			border: none;
			cursor: pointer;
			padding: 8px 16px;
			font-size: 1rem;

			&.btn--open:after {
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-color: transparent;
				-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				border-width: 0 5px 8.66px 5px;

				border-bottom-color: inherit;
			}

			&:after {
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-color: transparent;
				-webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
				clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
				border-width: 8.66px 5px 0 5px;
				border-top-color: inherit;
				content: '';
				margin-left: 5px;
			}
		}

		.links {
			display: none;
			padding: 0 16px;

			a {
				display: block;
				border-radius: 4px;
				font-size: 0.875rem;
				font-weight: 500;
				text-decoration: transparent;
				color: rgba(0, 0, 0, 1);
				text-align: right;

				&:hover {
					text-decoration: underline;
				}
			}

			&.active {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
		}

		@media (max-width: 768px) {
			display: flex;
		}
	}
</style>
