---
interface Props {
	data: {
		title: string
		description: string
		image: string
		url: string
	}
}

const { data } = Astro.props
---

<a href={data.url} class="initiative-card">
	<img src={data.image} width={280} height={280} class="logo" alt="" />
	<div>
		<h2>{data.title}</h2>
		<p>
			{data.description}
		</p>
	</div>
</a>

<style lang="scss">
	a {
		display: block;
		padding: var(--space-8);
		background-color: var(--green-light);
		border-radius: 8px;
		box-shadow: var(--box-shadow);
		text-decoration: none;
		color: var(--text-high);

		.logo {
			width: 100%;
			background-color: #d9d9d9;
			object-fit: cover;
			height: 285px;
		}
	}

	h2 {
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.6;
		text-transform: uppercase;
		margin-top: var(--space-16);
	}

	p {
		font-size: 1.125rem;
		line-height: 1.33;
		font-weight: 500;
		margin-top: var(--space-4);
	}
</style>
