<div class="heading">
	<div class="wrapper">
		<h1>Our Work</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur. Quam morbi hendrerit turpis
			convallis id magna congue. Est quisque suspendisse proin posuere
		</p>
	</div>
</div>

<style lang="scss">
	.heading {
		margin-top: 90px;
		min-height: 80vh;
	}

	h1 {
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.6;
		text-transform: uppercase;
	}

	p {
		max-width: 552px;
		margin-top: 16px;
		font-weight: 500;
		line-height: 1.33;
	}
</style>
