---
import Card from './Card.astro'
interface Props {
	data: {
		title: string
		description: string
		image: string
		url: string
	}[]
}

const { data } = Astro.props
---

<section>
	<div class="cards-wrapper">
		{data.map((item) => <Card data={item} />)}
	</div>
</section>

<style lang="scss">
	section {
		margin-top: var(--space-12);
		max-width: 1216px;
		margin-inline: auto;
	}

	.cards-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		gap: var(--space-8);
	}
</style>
